FORMAT: 1A
HOST: https://us-central1-veriown-reviews.cloudfunctions.net/api/v1/reviews

# Veriown Reviews

Reviews api allows users to both create and retireve reviews for Landlord submitted by tenants

## Create Review [/create]

### Create Review [POST]

Create a new review for a Landlord

+ Request (application/json)
    + Attributes (ReviewObject)
    + Headers

            token: token
            user: user_id

+ Response 201 (application/json)
    + Attributes (CreateReviewResponse)

+ Response 422 (application/json)
    + Attributes (CreateReviewError422)

+ Response 401 (application/json)
    + Attributes (CreateReviewError401)

+ Response 404 (application/json)
    + Attributes (CreateReviewError404)


## Retrieve Landlord Reviews [/landlord/{landlord_id}?limit={limit}]

### Retrive Landlord Reviews [GET]

Retrive landlord reviews and use limit to control how many are returned

+ Parameters
    + limit - The amount of reviews you want to receive

+ Response 201 (application/json)
    + Attributes (RetrieveLandlordReviews201)

+ Response 422 (application/json)
    + Attributes (RetrieveLandlordReviewError422)

+ Response 401 (application/json)
    + Attributes (RetrieveReviewError401)


## Retrieve User Reviews [/user/?limit={limit}]

### Retrive User Reviews [GET]

Retrive user reviews and use limit to control how many are returned

+ Request (application/json)
    + Attributes (ReviewObject)
    + Headers

            token: token
            user: user_id

+ Parameters
    + limit - The amount of reviews you want to receive

+ Response 201 (application/json)
    + Attributes (RetrieveUserReviews201)

+ Response 422 (application/json)
    + Attributes (RetrieveUserReviewError422)

+ Response 401 (application/json)
    + Attributes (RetrieveReviewError401)

## Update Review [/update/{review_id}]

### Update Review [PUT]

Update a review

+ Request (application/json)
    + Attributes (ReviewObject)
    + Headers

            token: token
            user: user_id

+ Response 201 (application/json)
    + Attributes (UpdateReview201)

+ Response 401 (application/json)
    + Attributes (UpdateReviewError401)

+ Response 404 (application/json)
    + Attributes (UpdateReviewError404)

+ Response 422 (application/json)
    + Attributes (UpdateReviewError422)


# Data Structures

### =========== Error ===============

## ErrorDetails (object)
+ code             (string, required)
+ message          (string, required)
+ target           (string, required)

## Error (ErrorDetails)
+ details          (array[ErrorDetails])

### =========== Create Review ===============

## ReviewObject (object)
+ title                     (string, required)
+ rating                    (string, required)
+ difficulty_rating         (number, required)
+ experience_rating         (number, required)
+ approve_of_landlord       (boolean, required)
+ recommends                (boolean, required)
+ landlord_id               (string, required)
+ user_id                   (string, required)
+ id                        (string)
+ pros                      (string)
+ cons                      (string)
+ questions                 (array[QuestionObject])

## QuestionObject (object)
+ question                  (string, required)
+ answer                    (string, required)

## CreateReviewResponse (object)
+ reviews                   (array[ReviewObject])
+ landlord_id               (string)

## CreateReviewErrorMissingTitle422
+ code: MISSING_TITLE_FIELD
+ message: missing title field
+ target: review object

## CreateReviewErrorMissingRating422
+ code: MISSING_RATING_FIELD
+ message: missing rating field
+ target: review object

## CreateReviewErrorMissingDifficultyRating422
+ code: MISSING_DIFFICULTY_RATING_FIELD
+ message: missing difficulty_rating field
+ target: review object

## CreateReviewErrorMissingExperienceRating422
+ code: MISSING_EXPERIENCE_RATING_FIELD
+ message: missing experience_rating field
+ target: review object

## CreateReviewErrorMissingApproveOfLandlord422
+ code: MISSING_APPROVE_OF_LANDLORD_FIELD
+ message: missing approve_of_landlord field
+ target: review object

## CreateReviewErrorMissingReccomends422
+ code: MISSING_RECCOMENDS_FIELD
+ message: missing recommends field
+ target: review object

## CreateReviewErrorMissingLandlord422
+ code: MISSING_LANDLORD_FIELD
+ message: missing landlord field
+ target: review object

## CreateReviewErrorMissingUser422
+ code: MISSING_USER_FIELD
+ message: missing user field
+ target: review object

## CreateReviewErrorInvalidToken401
+ code: INVALID_TOKEN
+ message: invalid token
+ target: headers verification

## CreateReviewErrorInvalidUser401
+ code: INVALID_USER
+ message: invalid user
+ target: headers verification

## CreateReviewErrorExpiredToken401
+ code: EXPIRED_TOKEN
+ message: token expired
+ target: headers verification

## CreateReviewErrorNotFoundLandlord404
+ code: INVALID_LANDLORD_ID
+ message: Invalid landlord id
+ target: landlord

## CreateReviewErrorNotFoundUser404
+ code: INVALID_USER_ID
+ message: Invalid user id
+ target: user

## CreateReviewError422 (Error)
+ code:             MISSING_REQUIRED_FIELDS
+ message:          Missing required fields
+ target:           review
+ details           (array[CreateReviewErrorMissingTitle422, CreateReviewErrorMissingRating422, CreateReviewErrorMissingDifficultyRating422, CreateReviewErrorMissingExperienceRating422, CreateReviewErrorMissingApproveOfLandlord422, CreateReviewErrorMissingReccomends422, CreateReviewErrorMissingLandlord422, CreateReviewErrorMissingUser422])

## CreateReviewError401 (Error)
+ code:             INVALID_HEADER
+ message:          Invalid header
+ target:           header
+ details           (array[CreateReviewErrorInvalidToken401, CreateReviewErrorInvalidUser401, CreateReviewErrorExpiredToken401])

## CreateReviewError404 (Error)
+ code:             NOT_FOUND
+ message:          ID not found
+ target:           id
+ details           (array[CreateReviewErrorNotFoundUser404, CreateReviewErrorNotFoundLandlord404])


### =========== Retrieve Review ===============

## RetrieveLandlordReviews201
+ reviews                   (array[ReviewObject])
+ landlord_id               (string)

## RetrieveUserReviews201
+ reviews                   (array[ReviewObject])
+ user_id               (string)

## RetrieveReviewsErrorMissingUserId
+ code: MISSING_USER_ID
+ message: Missing user id
+ target: user id

## RetrieveReviewsErrorMissingToken
+ code: MISSING_TOKEN
+ message: Missing token
+ target: token

## RetrieveUserReviewError422 (Error)
+ code:             INVALID_PARAMETERS
+ message:          Invalid parameters
+ target:           parameters
+ details           (array[RetrieveReviewsErrorMissingUserId, RetrieveReviewsErrorMissingToken])

## RetrieveReviewsErrorInvalidLandlordId
+ code: INVALID_LANDLORD_ID
+ message: Invalid landlord id
+ target: landlord id

## RetrieveLandlordReviewError422 (Error)
+ code:             INVALID_PARAMETERS
+ message:          Invalid parameters
+ target:           parameters
+ details           (array[RetrieveReviewsErrorInvalidLandlordId])

## RetrieveReviewErrorHeaderToken401
+ code: EXPIRED_TOKEN
+ message: token expired
+ target: headers verification

## RetrieveReviewErrorHeaderInvalidUser401
+ code: INVALID_USER
+ message: invalid user
+ target: headers verification

## RetrieveReviewErrorHeaderInvalidToken401
+ code: INVALID_TOKEN
+ message: Invalid token
+ target: token

## RetrieveReviewError401 (Error)
+ code:             INVALID_HEADER
+ message:          Invalid header
+ target:           header
+ details           (array[RetrieveReviewErrorHeaderToken401, RetrieveReviewErrorHeaderInvalidUser401, RetrieveReviewErrorHeaderInvalidToken401])


### =========== Update Review ===============

## UpdateReview201
+ reviews                   (array[ReviewObject])
+ landlord_id               (string)

## UpdateReviewErrorInvalidTitle422
+ code: INVALID_TITLE_FIELD
+ message: Invalid title field
+ target: review object

## UpdateReviewErrorInvalidRating422
+ code: INVALID_RATING_FIELD
+ message: Invalid rating field
+ target: review object

## UpdateReviewErrorInvalidDifficultyRating422
+ code: INVALID_DIFFICULTY_RATING_FIELD
+ message: Invalid difficulty_rating field
+ target: review object

## UpdateReviewErrorInvalidExperienceRating422
+ code: INVALID_EXPERIENCE_RATING_FIELD
+ message: Invalid experience_rating field
+ target: review object

## UpdateReviewErrorInvalidApproveOfLandlord422
+ code: INVALID_APPROVE_OF_LANDLORD_FIELD
+ message: Invalid approve_of_landlord field
+ target: review object

## UpdateReviewErrorInvalidReccomends422
+ code: INVALID_RECCOMENDS_FIELD
+ message: Invalid recommends field
+ target: review object

## UpdateReviewErrorInvalidLandlord422
+ code: INVALID_LANDLORD_FIELD
+ message: Invalid landlord field
+ target: review object

## UpdateReviewErrorInvalidUser422
+ code: INVALID_USER_FIELD
+ message: Invalid user field
+ target: review object

## UpdateReviewErrorNotFoundLandlord404
+ code: INVALID_LANDLORD_ID
+ message: Invalid landlord id
+ target: landlord

## UpdateReviewErrorNotFoundUser404
+ code: INVALID_USER_ID
+ message: Invalid user id
+ target: user

## UpdateReviewErrorInvalidToken401
+ code: INVALID_TOKEN
+ message: invalid token
+ target: headers verification

## UpdateReviewErrorInvalidUser401
+ code: INVALID_USER
+ message: invalid user
+ target: headers verification

## UpdateReviewErrorExpiredToken401
+ code: EXPIRED_TOKEN
+ message: token expired
+ target: headers verification


## UpdateReviewError422 (Error)
+ code:             INVALID_PARAMETERS
+ message:          Invalid parameters
+ target:           parameters
+ details           (array[UpdateReviewErrorInvalidTitle422, UpdateReviewErrorInvalidRating422, UpdateReviewErrorInvalidDifficultyRating422, UpdateReviewErrorInvalidExperienceRating422, UpdateReviewErrorInvalidApproveOfLandlord422, UpdateReviewErrorInvalidReccomends422, UpdateReviewErrorInvalidLandlord422, UpdateReviewErrorInvalidUser422 ])

## UpdateReviewError404 (Error)
+ code:             NOT_FOUND
+ message:          ID not found
+ target:           id
+ details           (array[UpdateReviewErrorNotFoundUser404, UpdateReviewErrorNotFoundLandlord404])

## UpdateReviewError401 (Error)
+ code:             INVALID_HEADER
+ message:          Invalid header
+ target:           header
+ details           (array[UpdateReviewErrorInvalidToken401, UpdateReviewErrorInvalidUser401, UpdateReviewErrorExpiredToken401])
